h1 {
    color:#d8ae72;
}

/* horizontale lijn boven footer */
hr { border: 3px;
    color: #d8ae72;
}

/* horizontale lijst sociale media */
ul#nav {
    display: inline;
    padding: 20px;
    }

/* Opmaak contactformulier */
form
    {
    border-width: 3px;
    border-style: solid;
    border-color: #d8ae72;

    padding: 15px;
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

form span {
    position: relative;
    float: left;
    width: 100%;
    
}
/*
form span p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 16px;
    margin: 0;
}
*/

form span label {
    position: relative;
    float: left;
    width: 100%;
    font-size: 16px;
    margin: 0;
    
}

form span input { 
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

form span textarea {
    margin-bottom: 15px;
}

    .confirm { 
        color: #d8ae72;
        font-size: 36px;
     
    }
