 // out: ../css/style.css, compress: true, sourceMap: false

 @import '_fonts';
 @import '_bootstrap-grid.less';


 @text-color : #000000;
 @box : #a3b8bd;
 @white : #ffffff;
 @primairy-color: #d8ae72;

 @ubuntu : 'Ubuntu',sans-serif;
 @elsie : 'Elsie';

@nav_size: 40px;
@nav_size_border: 4px;


 html, body {
    color: @text-color;
    font-size: 16px;
    font-family: @ubuntu;
    font-weight: 400;
    line-height: 30px;
    max-width: 100%;
    margin: 0;
	padding: 0;
    header {
        position: relative;
        float: left;
        width: 100%;
		height: 100vh;
        section {
            position: relative;
            float: left;
            width: 100%;
            &.menu {
                position: relative;
                float: left;
                width: 100%;
                margin: 0;
                padding: 30px 0;
				z-index: 2;
				-webkit-transition: top 0.3s ease-in-out;
				-moz-transition: top 0.3s ease-in-out;
				-o-transition: top 0.3s ease-in-out;
				transition: top 0.3s ease-in-out;
	
                .logo {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    p {
                        font-size: 25px;
                        letter-spacing: 5px;
                        color: @white;
                        font-weight: 700;
                        font-family: @ubuntu;
                    }
                }
                nav {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    display: flex;
					align-items: center;
					justify-content: flex-end;
                    ul {
                        position: relative;
						float: left;
						width: auto;
                        margin: 0 0 0 40px;
                        padding: 0;
                        li {
                            position: relative;
                            float: left;
                            width: auto;
                            margin: 0 10px 0 0;
                            padding: 10px;
                            list-style-type: none;
                            a {
                                position: relative;
                                float: left;
                                width: auto;
                                margin: 0;
                                padding: 0;
                                color: @white;
                                font-weight: 500;
								text-decoration: none;
								.shopping-cart {
									position: relative;
									float: left;
									bottom: -5px;
									.amount {
										position: absolute;
										right: -5px;
										top: -25px;
										font-weight: 500;
									}
								}
                            }
						}
                    }
				}
				&.fixed {
					position: fixed;
					top: -91px;
					left: 0;
					width: 100%;
					height: 91px;
					background: rgba(255, 255, 255, 0.95);
					border-bottom: 1px solid #cccccc;
					color: @text-color;
					z-index: 200;
					display: flex;
					align-items: center;
					&.visible {
						top: 0;
					}
					.logo {
						p {
							color: @primairy-color;
						}
					}
					nav {
						ul {
							li {
								a {
									color: @box;
								}
							}
						}
					}
					.nav-icon-holder {
						.nav-icon {
							span {
								background-color: @primairy-color;
							}
						}
					}
	
	
				}
				.nav-icon-holder {
					position: relative;
					float: left;
					width: 100%;
					.nav-icon {
						position: absolute;
						right: 35px;
						top: 21px;
						width: @nav_size;
						height: @nav_size;
						cursor: pointer;
						border-radius: 5px;
						z-index: 20;
						span {
							display: block;
							border-radius: 2px;
							background: @white;
						}
						* {
							transition: 0.25s ease-in-out;
						}
						#hamburger {
							position: absolute;
							height: 100%;
							width: 100%;
							span {
								width: @nav_size - 10px;
								height: 4px;
								position: relative;
								top: 5px;
								left: 5px;
								margin: 5px 0;
								&:nth-child(1) {
									transition-delay: 0.5s;
								}
								&:nth-child(2) {
									transition-delay: 0.625s;
								}
					
								&:nth-child(3) {
									transition-delay: 0.75s;
								}
							}
						}
						#cross {
							position: absolute;
							height: 100%;
							width: 100%;
							transform: rotate(45deg);
							span {
								&:nth-child(1) {
									height: 0%;
									width: 4px;
									position: absolute;
									top: 10%;
									left: (@nav_size / 2) - 2px;
									transition-delay: 0s;
								}
								&:nth-child(2) {
									width: 0%;
									height: 4px;
									position: absolute;
									left: 10%;
									top: (@nav_size / 2) - 2px;
									transition-delay: 0.25s;
								}
							}
						}
						&.open {
							#hamburger {
								span {
									width: 0%;
					
									&:nth-child(1) {
										transition-delay: 0s;
									}
					
									&:nth-child(2) {
										transition-delay: 0.125s;
									}
					
									&:nth-child(3) {
										transition-delay: 0.25s;
									}
								}
							}
					
							#cross {
								span {
									&:nth-child(1) {
										height: 80%;
										transition-delay: 0.625s;
									}
								}
					
								span {
									&:nth-child(2) {
										width: 80%;
										transition-delay: 0.375s;
									}
								}
							}
						}
					}
				}
				
			}
			&.side-nav {
				position: fixed;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				height: 100vh;
				width: 0;
				padding: 0;
				margin: 0;
				background-color:@white;
				-webkit-transition: width 0.3s ease-in-out;
				-moz-transition: width 0.3s ease-in-out;
				-o-transition: width 0.3s ease-in-out;
				transition: width 0.3s ease-in-out;
				z-index: 211;
				.nav-icon-holder {
					position: relative;
					float: left;
					width: 100%;
					height: auto;
					margin: 0;
					padding: 50px 0;
					display: flex;
					justify-content: center;
					align-items: center;
					.nav-icon-2 {
						position: absolute;
						width: @nav_size;
						height: @nav_size;
						cursor: pointer;
						border-radius: 5px;
						z-index: 20;
						span {
							display: block;
							border-radius: 2px;
							background: @primairy-color;
						}
						* {
							transition: 0.25s ease-in-out;
						}
						#hamburger {
							position: absolute;
							height: 100%;
							width: 100%;
							display: none;
							span {
								width: @nav_size - 10px;
								height: 4px;
								position: relative;
								top: 5px;
								left: 5px;
								margin: 5px 0;
								&:nth-child(1) {
									transition-delay: 0.5s;
								}
								&:nth-child(2) {
									transition-delay: 0.625s;
								}
					
								&:nth-child(3) {
									transition-delay: 0.75s;
								}
							}
						}
						#cross {
							position: absolute;
							height: 100%;
							width: 100%;
							transform: rotate(45deg);
							span {
								&:nth-child(1) {
									height: 0%;
									width: 4px;
									position: absolute;
									top: 10%;
									left: (@nav_size / 2) - 2px;
									transition-delay: 0s;
								}
								&:nth-child(2) {
									width: 0%;
									height: 4px;
									position: absolute;
									left: 10%;
									top: (@nav_size / 2) - 2px;
									transition-delay: 0.25s;
								}
							}
						}
						&.open {
							#hamburger {
								span {
									width: 0%;
					
									&:nth-child(1) {
										transition-delay: 0s;
									}
					
									&:nth-child(2) {
										transition-delay: 0.125s;
									}
					
									&:nth-child(3) {
										transition-delay: 0.25s;
									}
								}
							}
					
							#cross {
								span {
									&:nth-child(1) {
										height: 80%;
										transition-delay: 0.625s;
									}
								}
					
								span {
									&:nth-child(2) {
										width: 80%;
										transition-delay: 0.375s;
									}
								}
							}
						}
					}
				}
				ul {
					position: relative;
					float: left;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					text-align: center;
					display: none;
					li {
						position: relative;
						float: left;
						width: 100%;
						margin: 10px 0;
						padding: 0;
						list-style-type: none;
						a {
							text-decoration: none;
							color: @primairy-color;
							font-size: 16px;
							&:hover {
								color: @box;
							}
						}
						&:nth-child(6), &:nth-child(7) {
							a {
								color: @white;
								background-color: @primairy-color;
								padding: 5px 25px;
								border-radius: 5px;
								&:hover {
									background-color: @box;
								}
							}
						}
					}
				}
				&.open {
					width: 100vw;
					ul {
						display: block;
					}
				}
			}
            &.banner {
                position: absolute;
                float: left;
                width: 100%;
                min-height: 100vh;
                max-height: 100vh;
                z-index: 1;
                background-image: url('../images/banner.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                .overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    height: 100vh;
                    width: 100%;
                    background-color: #00000063;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    h1 {
                        position: relative;
                        float: left;
                        width: 100%;
                        text-align: center;
                        font-family: @elsie;
                        color: @primairy-color;
                        font-weight: 500;
                        font-size: 80px;
						line-height: 80px;
						@media(max-width: 576px) {
							line-height: 60px;
							font-size: 70px;
						}
                    }
                }
            }
            &.slide-down {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 8px;
                width: 100%;
                background-color: @white;
                display: flex;
                justify-content: center;
                z-index: 2;
                .slide-down-image {
                    position: absolute;
                    bottom: -7px;
                    -webkit-animation: mover 1s infinite alternate;
                    animation: mover 1s infinite alternate;
                    -webkit-animation: mover 1s infinite alternate;
                    animation: mover 1s infinite alternate;
                    cursor: pointer;
    
                    .icon {
                        position: absolute;
                        bottom: 10px;
                        z-index: 200;
                        pointer-events: none;
                        width: 100%;
                        text-align: center;
                        i {
                            font-size: 23px;
                            color: @primairy-color;
                        }
                    }
                    img {
                        width: 121px;
                        z-index: 9;
                    }
                }
            }
		}
		&.not-100vh {
			height: auto;
			section {
				position: relative;
				float: left;
				width: 100%;
				&.menu {
					position: relative;
					float: left;
					width: 100%;
					margin: 0;
					padding: 30px 0;
					z-index: 2;
					-webkit-transition: top 0.3s ease-in-out;
					-moz-transition: top 0.3s ease-in-out;
					-o-transition: top 0.3s ease-in-out;
					transition: top 0.3s ease-in-out;
		
					.logo {
						position: relative;
						float: left;
						width: 100%;
						height: auto;
						margin: 0;
						padding: 0;
						text-align: center;
						p {
							font-size: 25px;
							letter-spacing: 5px;
							color: @primairy-color;
							font-weight: 700;
							font-family: @ubuntu;
						}
					}
					nav {
						position: relative;
						float: left;
						width: 100%;
						height: 100%;
						margin: 0;
						padding: 0;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						ul {
							position: relative;
							float: left;
							width: auto;
							margin: 0 0 0 40px;
							padding: 0;
							li {
								position: relative;
								float: left;
								width: auto;
								margin: 0 10px 0 0;
								padding: 10px;
								list-style-type: none;
								a {
									position: relative;
									float: left;
									width: auto;
									margin: 0;
									padding: 0;
									color: @primairy-color;
									font-weight: 500;
									text-decoration: none;
									.shopping-cart {
										position: relative;
										float: left;
										bottom: -5px;
										.amount {
											position: absolute;
											right: -5px;
											top: -25px;
											font-weight: 500;
										}
									}
								}
							}
						}
					}
					&.fixed {
						position: fixed;
						top: -91px;
						left: 0;
						width: 100%;
						height: 91px;
						background: rgba(255, 255, 255, 0.95);
						border-bottom: 1px solid #cccccc;
						color: @text-color;
						z-index: 200;
						display: flex;
						align-items: center;
						&.visible {
							top: 0;
						}
						.logo {
							p {
								color: @primairy-color;
							}
						}
						nav {
							ul {
								li {
									a {
										color: @box;
									}
								}
							}
						}
						.nav-icon-holder {
							.nav-icon {
								span {
									background-color: @primairy-color;
								}
							}
						}
		
		
					}
					.nav-icon-holder {
						position: relative;
						float: left;
						width: 100%;
						.nav-icon {
							position: absolute;
							right: 35px;
							top: 21px;
							width: @nav_size;
							height: @nav_size;
							cursor: pointer;
							border-radius: 5px;
							z-index: 20;
							span {
								display: block;
								border-radius: 2px;
								background: @primairy-color;
							}
							* {
								transition: 0.25s ease-in-out;
							}
							#hamburger {
								position: absolute;
								height: 100%;
								width: 100%;
								span {
									width: @nav_size - 10px;
									height: 4px;
									position: relative;
									top: 5px;
									left: 5px;
									margin: 5px 0;
									&:nth-child(1) {
										transition-delay: 0.5s;
									}
									&:nth-child(2) {
										transition-delay: 0.625s;
									}
						
									&:nth-child(3) {
										transition-delay: 0.75s;
									}
								}
							}
							#cross {
								position: absolute;
								height: 100%;
								width: 100%;
								transform: rotate(45deg);
								span {
									&:nth-child(1) {
										height: 0%;
										width: 4px;
										position: absolute;
										top: 10%;
										left: (@nav_size / 2) - 2px;
										transition-delay: 0s;
									}
									&:nth-child(2) {
										width: 0%;
										height: 4px;
										position: absolute;
										left: 10%;
										top: (@nav_size / 2) - 2px;
										transition-delay: 0.25s;
									}
								}
							}
							&.open {
								#hamburger {
									span {
										width: 0%;
						
										&:nth-child(1) {
											transition-delay: 0s;
										}
						
										&:nth-child(2) {
											transition-delay: 0.125s;
										}
						
										&:nth-child(3) {
											transition-delay: 0.25s;
										}
									}
								}
						
								#cross {
									span {
										&:nth-child(1) {
											height: 80%;
											transition-delay: 0.625s;
										}
									}
						
									span {
										&:nth-child(2) {
											width: 80%;
											transition-delay: 0.375s;
										}
									}
								}
							}
						}
					}
					
				}
				&.menu-fix {
					padding-top: 0;
					&.fixed {
						padding-top: 150px;
					}
				}
				&.side-nav {
					position: fixed;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					height: 100vh;
					width: 0;
					padding: 0;
					margin: 0;
					background-color:@white;
					-webkit-transition: width 0.3s ease-in-out;
					-moz-transition: width 0.3s ease-in-out;
					-o-transition: width 0.3s ease-in-out;
					transition: width 0.3s ease-in-out;
					z-index: 11;
					.nav-icon-holder {
						position: relative;
						float: left;
						width: 100%;
						height: auto;
						margin: 0;
						padding: 50px 0;
						display: flex;
						justify-content: center;
						align-items: center;
						.nav-icon-2 {
							position: absolute;
							width: @nav_size;
							height: @nav_size;
							cursor: pointer;
							border-radius: 5px;
							z-index: 20;
							span {
								display: block;
								border-radius: 2px;
								background: @primairy-color;
							}
							* {
								transition: 0.25s ease-in-out;
							}
							#hamburger {
								position: absolute;
								height: 100%;
								width: 100%;
								display: none;
								span {
									width: @nav_size - 10px;
									height: 4px;
									position: relative;
									top: 5px;
									left: 5px;
									margin: 5px 0;
									&:nth-child(1) {
										transition-delay: 0.5s;
									}
									&:nth-child(2) {
										transition-delay: 0.625s;
									}
						
									&:nth-child(3) {
										transition-delay: 0.75s;
									}
								}
							}
							#cross {
								position: absolute;
								height: 100%;
								width: 100%;
								transform: rotate(45deg);
								span {
									&:nth-child(1) {
										height: 0%;
										width: 4px;
										position: absolute;
										top: 10%;
										left: (@nav_size / 2) - 2px;
										transition-delay: 0s;
									}
									&:nth-child(2) {
										width: 0%;
										height: 4px;
										position: absolute;
										left: 10%;
										top: (@nav_size / 2) - 2px;
										transition-delay: 0.25s;
									}
								}
							}
							&.open {
								#hamburger {
									span {
										width: 0%;
						
										&:nth-child(1) {
											transition-delay: 0s;
										}
						
										&:nth-child(2) {
											transition-delay: 0.125s;
										}
						
										&:nth-child(3) {
											transition-delay: 0.25s;
										}
									}
								}
						
								#cross {
									span {
										&:nth-child(1) {
											height: 80%;
											transition-delay: 0.625s;
										}
									}
						
									span {
										&:nth-child(2) {
											width: 80%;
											transition-delay: 0.375s;
										}
									}
								}
							}
						}
					}
					ul {
						position: relative;
						float: left;
						width: 100%;
						height: 100%;
						margin: 0;
						padding: 0;
						text-align: center;
						display: none;
						li {
							position: relative;
							float: left;
							width: 100%;
							margin: 10px 0;
							padding: 0;
							list-style-type: none;
							a {
								text-decoration: none;
								color: @primairy-color;
								font-size: 16px;
								&:hover {
									color: @box;
								}
							}
							&:nth-child(6), &:nth-child(7) {
								a {
									color: @white;
									background-color: @primairy-color;
									padding: 5px 25px;
									border-radius: 5px;
									&:hover {
										background-color: @box;
									}
								}
							}
						}
					}
					&.open {
						width: 100vw;
						ul {
							display: block;
						}
					}
				}
				&.banner {
					position: absolute;
					float: left;
					width: 100%;
					min-height: 100vh;
					max-height: 100vh;
					z-index: 1;
					background-image: url('../images/banner.jpg');
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					.overlay {
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						right: 0;
						height: 100vh;
						width: 100%;
						background-color: #00000063;
						display: flex;
						align-content: center;
						align-items: center;
						h1 {
							position: relative;
							float: left;
							width: 100%;
							text-align: center;
							font-family: @elsie;
							color: @primairy-color;
							font-weight: 500;
							font-size: 80px;
							line-height: 80px;
						}
					}
				}
				&.slide-down {
					position: absolute;
					left: 0;
					bottom: 0;
					height: 8px;
					width: 100%;
					background-color: @white;
					display: flex;
					justify-content: center;
					z-index: 2;
					.slide-down-image {
						position: absolute;
						bottom: -7px;
						-webkit-animation: mover 1s infinite alternate;
						animation: mover 1s infinite alternate;
						-webkit-animation: mover 1s infinite alternate;
						animation: mover 1s infinite alternate;
						cursor: pointer;
		
						.icon {
							position: absolute;
							bottom: 10px;
							z-index: 200;
							pointer-events: none;
							width: 100%;
							text-align: center;
							i {
								font-size: 23px;
								color: @primairy-color;
							}
						}
						img {
							width: 121px;
							z-index: 9;
						}
					}
				}
			}
		}
    }
    section {
        position: relative;
        float: left;
		width: 100%;
		&.clearfix {
			margin-bottom: 70px;
		}
        &.design-element {
			padding: 50px 0;
			z-index: 4;
			.image,
			.info {
				position: relative;
				float: left;
				width: 100%;
				min-height: 540px;
				overflow: hidden;
				background-size: cover;
			}

			.image {
				height: 540px;
			}

			.image-container {
				position: relative;
				float: none;

				.images {
					position: absolute;
					top: 0;
					height: 540px;
					width: 730px;

					@media (max-width: 991.98px) {
						width: 450px;
					}

					@media (max-width: 767.98px) {
						width: 330px;
					}

					@media (max-width: 575.98px) {
						width: calc(100vw - 50px);
					}
				}
				&.right {
					.images {
						left: 0;
					}
				}
			}

			.info {
				position: relative;
				float: right;
				width: 100%;
				overflow: inherit;

				.title,
				.text-box {
					position: relative;
					width: 50%;
					display: inline-block;
					z-index: 9;
					z-index: 5;
					font-family: 'Ubuntu', sans-serif;
					font-size: 16px;
					line-height: 30px;
                    color: #fff;
					a {
						color: #fff;
                    } 
                    p {
                        background-color: @box;
                        padding: 20px;
                    }
				}

				.title {
					width: 100%;

					.h1 {
						margin: 30px 0;
						padding: 15px ;
						background: #fff;
						text-align: right;
						float: right;
						width: auto;
						font-size: 50px;
						color: @primairy-color;
						font-family: @elsie;
					}
				}

				@media (max-width: 575.98px) {
					.title,
					.text-box {
						width: 75%;
					}
				}

				.text-box {
					z-index: 5;
					font-family: 'Ubuntu', sans-serif;
					font-size: 16px;
					line-height: 30px;
					color: #fff;
				}

				.button {
					position: relative;
					float: right;
					width: 100%;
					margin: 30px 0;
					z-index: 9;
					white-space: nowrap;
					a {
						text-transform: uppercase;
					}
				}

				&.right {
					.title {
						float: right;

						.h1 {

							.h1 {
								text-align: right;
								float: right;
								padding: 15px 0 15px 15px;
								background-color: @white;
								color: @primairy-color;
								font-size: 50px;
							}
						}
					}

					.text-box {
                        float: right;
                        p {
                            background-color: @box;
                            padding: 20px;
                        }
					}

					.button {
						text-align: right;
						a {
							color: @white;
							border: 1px solid @primairy-color;
							background-color: @primairy-color;				
							padding: 10px 50px;
							text-align: center;
							text-decoration: none;
						}
					}
					@media (max-width: 575.98px) {
						.title {
							padding-right: 0;
						}
					}
				}

				@media (max-width: 991.98px) {
					.text-box {
						p {
							line-height: 20px;
						}
					}
				}
			}
		}
		&.motto {
			padding: 50px 0;
			height: 400px;
			background-image: url('../images/background-banner.jpg');
			background-position: center;
			background-size: cover;
			display: flex;
			align-items: center;
			justify-items: center;
			h1 {
				text-align: center;
				color: @white;
				font-family: @elsie;
				font-size: 36px;
				line-height: 40px;
			}
		}
		&.copyright {
			padding: 8px 0;
			background-color: @primairy-color;
			color: @white;
		}
		&.basket-item {
			border: 0;
			.item {
				padding: 40px 0; 	
				border-top: 1px solid @box; 
				border-bottom: 1px solid @box;
				.image {
					position: relative;
					float: left;
					width: 100%;
					img {
						max-width: 160px;
					}
				}
				.title {
					position: relative;
					float: left;
					width: 50%;
					h3 {
						color: @primairy-color;
						margin: 5px 0;
					}
				}
				.price {
					position: relative;
					float: left;
					width: 50%;
					text-align: right;
					strong {
						color: @text-color;
					}
				}
				.info {
					position: relative;
					float: left;
					width: 100%;
					h4 {
						position: relative;
						float: left;
						width: auto;
						padding: 0;
						margin: 0;
						cursor: pointer;
						&.showSpecs {
							width: auto;
						}
					}
					i {
						margin-left: 7px;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						cursor: pointer;
						&.rotate {
							transform: rotate(180deg);
						}			
					}
					ul {
						color: @text-color;
						list-style-type: none;
						margin: 0;
						padding: 0;
						display: none;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						li {
							position: relative;
							float: left;
							width: 100%;
							color: @box;
						}
						&.showSpecs {
							display: block;
						}
					}

					.beschikbaarheid {
						color: green;
						font-weight: bold;
					}

					.prijsklasse {
						color: gold;
						font-weight: bold;
					}



					
				}


				.icon-holder {
					position: absolute;
					float: left;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					top: 6px;
					i {
						color: #d23b3b;
					}
				}
			}

		}
		&.shipping {
			padding: 0;
			margin: 20px 0;
			position: relative;
			select {
				position: relative;
				float: left;
				width: 100%;
				padding: 5px;
				text-indent: 5px;
				border: 1px solid @primairy-color;
				border-radius: 5px;
				background-color: @primairy-color;
				color: white;
			}
				  
		}
		&.costs {
			position: relative;
			float: left;
			width: 100%;
			padding: 50px 0;
			


			.cost {
				h5 {
					color: @box;
					margin: 5px 0;
					padding: 0;
					font-size: 17px;
				}
				p {
					position: relative;
    				float: left;
					width: 50%;
					font-size: 14px;
					margin: 0;
					padding: 0;
					&.euro {
						text-align: right;
						font-weight: 700;
					}
				}
				hr {
					background-color: @primairy-color;
				}
				button {
					position: relative;
					float: right;
					width: auto;
					padding: 5px 50px;
					margin: 10px 0;
					background-color: @primairy-color;
					color: @white;
					border: 1px solid @primairy-color; 	
				}

			
			}
		}
		&.OveronsTekst {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 30px 0;
			p {
				border-bottom: 1px solid @primairy-color;
			}
		}
		&.heading {
			h1 { color: @primairy-color;}
			
		}
		&.AboutUs {
			.cycle-slideshow {
				position: relative;
				z-index: 9;
				.image {
					position: relative;
					float: left;
					width: 400px;
					height: 400px;
					border: 10px solid @primairy-color;
					border-radius: 100%;
					img {
						position: relative;
						float: left;
						width: 100%;
						height: 100%;
						border-radius: 100%;
					}
					@media(max-width: 992px) {
						width: 300px;
						height: 300px;
					}
				}
				p {
					float: left;
					position: relative;
					width: 100%;
					height: auto;

				}
				h3 {
					float: left;
					position: relative;
					width: 100%;
					height: auto;
					color: @primairy-color;
				}
			}

			#prev {
				position: relative;
				float: left;
				width: 170px;
				padding: 5px 50px;
				margin: 10px 10px;
				background-color: @primairy-color;
				color: @white;
				border: 1px solid @primairy-color;
				cursor: pointer; 				
			} 

			#next {
				position: relative;
				float: right;
				width: 170px;
				padding: 5px 50px;
				margin: 10px 10px;
				background-color: @primairy-color;
				color: @white;
				border: 1px solid @primairy-color;
				cursor: pointer; 				
			} 
		}
		&.price {
			position: relative;
			float: left;
			width: 100%;
			.column {
				position: relative;
				float: left;
				width: 100%;
				background-color: @white;
				padding: 20px 0;
				.header {
					position: relative;
					float: left;
					width: 100%;
					font-family: @elsie;
					font-size: 20px;
					color: @primairy-color;
					border-bottom: 3px solid @primairy-color;
					h4 {
						padding: 0;
						margin: 0;
					}
				}
				ul {
					margin: 0;
					padding: 10px;
					li {
						position: relative;
						float: left;
						width: 100%;
						margin: 10px 0;
						list-style-type: none;
						font-weight: 500;
						&::before {
							font-family: "Font Awesome 5 Free"; 
							font-weight: 600; 
							content: "\f00c";
							color: @box;
							margin-right: 10px;
						}
					}
				}
				.bottom {
					position: relative;
					float: left;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					.price {
						color: @primairy-color;
						font-weight: 600;
						float: left;
						width: 50%;
					}
					button {
						position: relative;
						float: left;
						width: 50%;
						padding: 10px 20px;
						margin: 16px 0;
						background-color: @box;
						color: @white;
						border: 1px solid @box;
						&:hover {
							background-color: @white;
							color: @box;
						}
					}
				}
			}
		}
		&.login-form {
			padding-top: 10px;
			.row-form {
				background-color: @primairy-color;
				border-radius: 6px;
				box-shadow: 2px 4px 8px 1px #888888;
				.title{
					float: left;
					padding-bottom: 40px;
					padding-left: 5;
					text-align: center;
					h1{
						color: @white;
						font-size: 34px;
						padding-top: 50px;
					}
				}
				form {
					&.form {
						text-align: center;
						padding-bottom: 10px;
						i{
							&.login-icon{
								color: @text-color;
								&:hover{
									size: 80px;
								}
							}
						}
						input{
							border: none;
							outline: none;
							background: none;
							&.form-control{
								margin-top: 5px;
								margin-bottom:5px;
								padding: 8px;
								padding-right: 30px;
								width: 50%;
								overflow: hidden;
								border-bottom: 2px solid @text-color;
							}
							&::placeholder{
								color: @text-color;
							}
						}
						.btn1{
							font-weight: bold;
							border: none;
							outline: none;
							height: 40px;
							width: 200px;
							background-color:@white;
							border-radius: 4px;
							color: @primairy-color;
							margin-top: 30px;
							margin-bottom: 40px;
							&:hover{
								font-size: 17px;
								box-shadow: 2px 4px 8px 1px #888888;
							}
						}
						a{
							color: @text-color;
							text-decoration: none;
							font-size: 12px;
							&:hover{
								color: @white;
								font-weight: bold;
							}
						}
						p{
							color: @text-color;
							font-size: 12px;
							margin: 0px;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	footer {
		border-top: 1px solid @box;
		padding: 20px 0;
		ul {
			position: relative;
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				padding: 0;
				margin: 5px 0;
				i {
					color: @primairy-color;
				}
				span {
					color: @box;
					margin-left: 10px;
				}
			}
		}
	}
 }


 // KEYFRAMES VOOR PIJL OP HOMEPAGE, DIT ZORGT ERVOOR DAT DE Y AS VAN DE PAGINA STEEDS OP EN NEER BLIJFT GAAN
@-webkit-keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-5px);
	}
}

@keyframes mover {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-5px);
	}
}